@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .banner__title {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .banner__desc {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .about__content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .cards__title {
        margin-top: 50px;
    }

    .cards__content {
        flex-wrap: wrap;
        max-width: 600px;
        justify-content: space-around;
        margin: 0 auto;
        column-gap: 60px;
        row-gap: 40px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header__nav .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .header__logo-img {
        margin: 10px 0 0;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .about__title {
        margin: 40px 0 30px 0;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: auto;
    }

    .banner {
        height: 70vh;
    }

    .banner__title {
        font-size: 30px;
        margin-bottom: 0px;
    }

    .banner__desc {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .banner__btn {
        max-width: 100px;
        font-size: 15px;
        padding: 10px 33px;
        display: flex;
        margin: 0 auto;
    }

    .cards__title {
        margin-top: 0px;
    }

    .contacts__title {
        text-align: center;
        margin: 50px 0 20px 0;
    }

    .contacts__content {
        flex-direction: column;
        gap: 40px;
    }

    .contacts__item {
        text-align: center;
    }

    .contacts__box {
        text-align: center;
    }
}